name: Lint

on: [push, pull_request]

jobs:
  black:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./django_weather_tracker 
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: '3.13'
      - run: pip install black==25.1.0
      - run: black --version
      - run: black --check .

